<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>

<div class="jumbotron3">
   <br>
    <h3 class="title"><%= @job.title %></h3>
    </div>

<p>
  <%= simple_format(@job.description) %>

</p>
<div class="text-center">
    <button type="submit" class="w3-button w3-black "><%= link_to("Apply Now", new_job_resume_path(@job), :style => "font-size: 20px;") %></button>
</div>
