   <div class="jumbotron">
     <h1 class="title">Run like a Boss!</h1>
     <p class="slogan">BosGalRun,一个女性慢跑社交社区
     <br>
    哪有什么天生美丽，只是我们天天坚持！
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">加入跑团</a></p>
     </p>
     </div>
   </div>
 </div>

  <!-- <div class="col-sm-4">
     <div class="container">
       <div class="row">
         <div class="col-sm-4">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">value proposation 1</h2>
           <p class="lead">因为没带手机就不能联络公司</p>
         </div>
         <div class="col-sm-4">
           <%= image_tag 'http://running.competitor.com/files/2012/06/running1.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>
 <br>
 -->
<hr>
<br>
 <div class="row">
         <div class="col-sm-4">
             <a href="/jobs/steel?order=category"><img class="img-circle img-responsive img-center frontpage-img" src="http://running.competitor.com/files/2012/06/running1.jpg" alt="Steel"></a>
             <h2 class="text-center">Perfect Weekend Morning</h2>
             <p class="text-center">Weekend 2 miles easy and fun running + brunch</p>
         </div>
         <div class="col-sm-4">
             <a href="/jobs/wood?order=category"><img class="img-circle img-responsive img-center frontpage-img" src="/assets/wood-7814cb266a94fa82adba4b8b869adad4ccc25c3c6ef336ce9d7c0d6405d645b2.jpg" alt="Wood"></a>
             <h2 class="text-center">Professional Coach</h2>
             <p class="text-center">Special outdoor training session with professional fitness coach </p>
         </div>
         <div class="col-sm-4">
             <a href="/jobs/stone?order=category"><img class="img-circle img-responsive img-center frontpage-img" src="/assets/stone-def8a9393e2b2afd686e7c7ba81f833717b0107053acfcf3c83b2f13fa66c614.jpg" alt="Stone"></a>
             <h2 class="text-center">Girl Networking</h2>
             <p class="text-center">Brunch and networking session with inspiring and women leaders across industries </p>
         </div>
     </div> 



     <hr>

 <div class="box">
   <br>
      <br>
      <h2 class="title">Run To Be Chic!</h2>
         <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">加入跑团</a></p>
       </p>
       </div>
      </div>
      </div>
