<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

 <div class="jumbotron1">
    <br>
    <br>
     <h1 class="title">RUN LIKE A BOSS</h1>
     <p class="slogan">BosGalRun,一个女性慢跑社交社区
     <br>
    哪有什么天生美丽，只是我们天天坚持！
     </p>
     <class="row">
     <p class="lead1"><a class="btn btn-lg btn-danger" href="/jobs">加入跑团</a></p>
     </p>
     </div>
   </div>
 </div>

<br>
<div class="container, text-center">
  <h1>关于#BosGalRun</h1>
  <p>就是“Boston Girl Run”的缩写</p>
  <blockquote>
    <p>BosGalRun 从冬天只有两个人一起在查尔斯河边跑步开始，
    <br>
    到现在慢慢壮大为一个集跑步、早午餐社交、户外专业健身训练的女性社区.
    <br>
    我们努力希望每个人都能获得 “女神养成力”，
    <br>
    你既能应付得了白天学习、工作高压，又愿意抽出周末时间锻炼、做饭、结识志同道合的女生一起督促一起进步。</p>
  </blockquote>
</div>
<br>
<hr>



       <div class="row">
         <div class="col-md-4">
           <div class="thumbnail">
             <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
               <img src="https://static.pexels.com/photos/196640/pexels-photo-196640.jpeg" alt="Lights" style="width: 550px;
    height: 280px;">
               <div class="caption">
                 <h3 class="text-center">周日河畔晨跑 + 早午餐社交</h2>
                 <p class="text-center">伴查尔斯河晨跑，与各行业女神早餐，
                   <br>
                   无压力跳出舒适圈，新方式打开元气周末！</p>
               </div>
             </a>
           </div>
         </div>
         <div class="col-md-4">
           <div class="thumbnail">
             <!-- <a href="/w3images/nature.jpg" target="_blank"> -->
               <img src="https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg" alt="Nature" style="width: 550px;
    height: 280px;">
               <div class="caption">
                 <h3 class="text-center">户外腹肌课程 + 系统健身指导</h2>
                 <p class="text-center">为期三个月的团体户外力量训练，
                   <br>
                   让健身一步步成为必须成为习惯，打造你的perfect body！</p>
                </div>
             </a>
           </div>
         </div>
         <div class="col-md-4">
           <div class="thumbnail">
             <!-- <a href="/w3images/fjords.jpg" target="_blank"> -->
               <img src="https://static.pexels.com/photos/8066/fruits-market-colors.jpg" alt="Fjords" style="width: 550px;
    height: 280px;">
               <div class="caption">
                 <h3 class="text-center">冰箱清理行动 + 全新轻食计划</h2>
                 <p class="text-center">健身达人上门为你清理冰箱，
                   <br>
                   重新计划你的三餐食材，全面科学的营养规划！</p>
               </div>
             </a>
           </div>
         </div>
       </div>
     </div>
     <hr>


 <!----------------------- Testimony ---------------------------->
     <section id="testimony" class="jumbotron2">
         <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
           <!-- Indicators -->
           <ol class="carousel-indicators">
             <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
             <li data-target="#myCarousel" data-slide-to="1"></li>
             <li data-target="#myCarousel" data-slide-to="2"></li>
           </ol>

           <div class="container">
             <div class="col-lg-12 text-center">
                <h3>与她们一起改变</h3>
              <hr class="star-secondary" style="margin-bottom: 50px, padding: 500px">
            </div>

         <!-- Wrapper for slides -->
         <div class="carousel-inner testmonial" role="listbox">
           <div class="item active">
             <testimony>" 跑团刚成立的时候我就马上加入了，之前整个冬天都没有在户外跑步，但现在完全爱上了流汗的感觉！<br>
               尤其是跟其他女生一起跑会特别有动力，平常自己最多跑个一英里，<br>
               但跟着大家就会不自觉地想要多跑一点，再多跑一点！"
               <br>
             <br><span>——思然（波士顿）</span></testimony>
           </div>

           <div class="item">
             <testimony>"我特别喜欢户外的腹肌课程！<br>
               尤其是在河边边吹着风，呼吸新鲜空气，充分伸展身体的感觉真的很棒！<br>
               教练也很认真负责，他会指点每个人一些做得不到位的动作，讲解也很清晰。"
               <br>
               <br>
               <span style="font-style:normal;">——晓晶（波士顿）</span></testimony>
           </div>

           <div class="item">
             <testimony>"I haven’t been doing any outdoor workouts for a while but this is for sure the best class I had recently! <br>
               It’s a little bit intense but I am totally fine with it, I see this as an ongoing exercise and definitely want to come back for more sweat! "
               <br>
               <br>
               <span style="font-style:normal;">——Fang（波士顿）</span></testimony>
           </div>
         </div>


          </div>
        </div>
      </section>

<div class="container">
<div class="col-lg-12 text-center">

  <!-- <a class="photo-gallery"><img src='<%= image_url 'inslogo.png' %>'></a> -->
  <h3><a class="photo-gallery"><i class="fa fa-instagram" aria-hidden="true"></i></a> #BosGalRun</h3>
<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/7780c87420f3550ab18a2f00754d3a8d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>
</div>
<hr>

<!----------------------- CTA btn ---------------------------->
 <div class="box">
   <div class="caption">
     <h3 class="text-center">此刻 距离你的蜕变
       <br>
       只有2公里的路程。</h2>
       <br>
       <br>
         <p class="lead2"><a class="btn btn-lg btn-danger" href="/jobs">加入跑团</a></p>
       </p>
       </div>
      </div>
      </div>
